{{ $category := (.Get 0) }}

{{ range (index $.Site.Data.edits $category) }}

### {{ .rule }}


{{ with .figure }}
<figure>
  <img src="{{ .path }}" alt="{{ .alt }}" >
  <figcaption>{{ .caption | markdownify }}</figcaption>
</figure>
{{ end }}

{{ with .diffs }}
||
|-|
|**Avoid:** {{ .diff_no | markdownify }} |
|**Prefer:** {{ .diff_yes | markdownify }}|
{{ end }}

**Why?**
{{ .reason | markdownify }}

{{ with .principles}}
<small>_Underlying principles_: {{ . | markdownify }}</small>
{{ end }}

{{ with .exceptions }}
**Exceptions**:
{{ . | markdownify }}
{{ end }}

**Says who?**
{{ .source | markdownify }}

{{ end }}
