
{{ define "main" }}
<main id="main">
  <h1>{{ .Title }}</h1>
	<p class="lead"><em>{{ .Params.lead | safeHTML }}</em></p>
  {{ if site.Params.search }}
  <input
    id="search"
    type="text"
    placeholder="{{ T "search_placeholder" }}"
    aria-label="{{ T "search_aria_label" }}"
  />
  {{ end }}
  {{ .Content }}
  <br>
  <ul class="patterns-list" id="list">
    {{ range .Pages }}
    <li>
      <h2>
        <a href="{{ .RelPermalink }}">
          <svg
            class="bookmark"
            aria-hidden="true"
            viewBox="0 0 40 50"
            focusable="false"
          >
            <use xlink:href="#bookmark"></use>
          </svg>
          {{ .Title }}
        </a>
      </h2>
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}
