{{ with .Description -}}
<meta name="description" content="{{ . }}" />
{{ else -}} {{ with .Summary | plainify -}}
<meta name="description" content="{{ . }}" />
{{ else -}}
<meta name="description" content="{{ .Site.Params.description }}" />
{{ end -}} {{ end -}}

<!--- opengraph stuff --->

<meta property="og:title" content="{{ .Title }}" />
<meta
  property="og:description"
  content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"
/>

<!-- open graph -->
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="en" />
{{ if .Params.og_image }}
<meta
  property="og:image"
  content="http://wellshapedwords.com{{ .Params.og_image | relURL }}"
/>
<meta
  property="og:image:secure_url"
  content="{{ .Params.og_image | absURL }}"
/>
{{ else }}
<meta
  property="og:image"
  content="http://wellshapedwords.com{{ "images/logo.svg" | relURL }}"
/>
<meta
  property="og:image:secure_url"
  content="{{ "images/logo.svg" | absURL }}"
/>
{{ end }}
