
{{ define "main" }}
<main id="main">
  <h1>{{ .Title }}</h1>
	<p class="lead">{{ .Params.lead | safeHTML }}</p>
  {{ .Content }}
  <br>
  <ul class="patterns-list" id="list">
    {{ range .Pages.ByPublishDate.Reverse }}
    <li>
      <h2>
        <a href="{{ .RelPermalink }}">
          <svg
            class="bookmark"
            aria-hidden="true"
            viewBox="0 0 40 50"
            focusable="false"
          >
            <use xlink:href="#bookmark"></use>
          </svg>
          {{ .Title }}
        </a>
      </h2>
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}
