
{{ range .Site.Data.jobs }}
<h2 id={{ .job | urlize }}>{{ .job }}</h2>
<p><strong>Time</strong>: {{ .time | markdownify}}</p>
<p><strong>Description</strong>: {{ .description | markdownify }}</p>
<p><strong>Links</strong>: {{ .link | markdownify }}</p>
<p><strong>Project</strong>: {{ .project | markdownify }}</p>
<p><strong>Tech involved</strong>: {{ .tech | markdownify }}</p>
<p><strong>Authoring tools</strong>: {{ .authoring | markdownify}}</p>
<p><strong>Docs as code</strong>: {{ .automation | markdownify }}</p>
{{ end }}
