<aside aria-label="note" class="note">
  <div>
    <svg
      class="sign"
      aria-hidden="true"
      viewBox="0 0 41.667306 41.66729"
      focusable="false"
    >
      <use xlink:href="#info"></use>
    </svg>
    This page uses the logic it demonstrates.
    It was last built with Hugo v{{ hugo.Version }}.
  </div>
</aside>
